body {
  background: #fffbf7;
}

h1 {
  color: #025157;
}

.first {
  color: #46484c;
}

.second {
  color: #784545;
}

button {
  color: #fff;
  background: #025157;
}

.imgbody {
  width: 50%;
}

.imgnav {
  width: 5%;
}

.matchaimg {
  max-width: 200px;
  border: 2px solid red;
}


















* {
  box-sizing: border-box;
}

body, header {
  margin: 0;
  padding: 0;
}

header {
  height: 100px;
  vertical-align: middle;
}



nav, li, div{
  display: inline-block;
} 

a {
  text-decoration: none;
  vertical-align: middle;
}

img {
  width: 10%;
}

li {
  padding-right: 45px;
}

nav {
  width: 75%;
  text-align: center;
}

div {
  width: 15%;
  text-align: right;
}



